.slider {
    display: inline-flex;
    user-select: none;
    height: 100vh;
    transform: translateX(0);
    transition: 0.3s ease-out;
}
.slider__element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
}
.slider__header {
    margin-top: 50px;
    max-width: 80vw;
}
.slider__price {
    margin-top: 10px;
}
.slider__image {
    margin: 50px 0;
    max-width: 70vw;
    max-height: 40vh;
    cursor: grab;
    box-shadow: 0 0 80px 0 rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
}
.slider__button {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: #fff;;
}
.slider__button:before {
    position: absolute;
    content: '';
    bottom: 0;
    width: 30px;
    height: 1px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.2s linear;
}
.slider__button:hover:before {
    transform: scaleX(1);
    transform-origin: bottom left;
    transition: transform 0.2s linear;
}