@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
* {
    box-sizing: border-box;
    margin: 0; padding: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.7rem;
    font-size: 16px;
}

body {
    background-color: #333;
    color: #fff;
    overflow: hidden;
}

.oldprice {
    position: relative;
}
.oldprice:before {
    position: absolute;
    content: '';
    left: -3px;
    bottom: 10px;
    width: 55px;
    height: 2px;
    background-color: black;
    transform: rotate(-13deg);
}
.oldprice:after {
    position: absolute;
    content: '';
    left: -3px;
    bottom: 10px;
    width: 55px;
    height: 2px;
    background-color: black;
    transform: rotate(13deg);
}